// 相关的混合操作
// 宽度
.w(@px){
    width: unit(@px/37.5,rem);
}
// 高度
.h(@px){
    height: unit(@px/37.5,rem);
}
// padiing
.padding(@top,@right,@bottom,@left){
    padding-top:unit(@top/37.5,rem);
    padding-right: unit(@right/37.5,rem);
    padding-bottom: unit(@bottom/37.5,rem);
    padding-left: unit(@left/37.5,rem);
}
// 字体大小
.fs(@px){
    font-size: unit(@px/37.5,rem);
}
// 行高
.lh(@px){
    line-height: unit(@px/37.5,rem);
} 
// top位置
.top(@px){
    top: unit(@px/37.5,rem);
}
// right位置
.right(@px){
    right: unit(@px/37.5,rem);
}
//left位置
.left(@px){
    left: unit(@px/37.5,rem);
}
//bottom位置
.bottom(@px){
    bottom: unit(@px/37.5,rem);
}
// margin
.margin(@top,@right,@bottom,@left){
    margin-top:unit(@top/37.5,rem);
    margin-right: unit(@right/37.5,rem);
    margin-bottom: unit(@bottom/37.5,rem);
    margin-left: unit(@left/37.5,rem);
}
// 边框圆角
.border-radius(@px){
    border-radius: unit(@px/37.5,rem);
}

